<!-- <div>
  <button value="Click" class="btn btn-danger" (click) = "btnClicked1()">Add Number</button>
  <button value="Click" class="btn btn-danger" (click) = "btnClicked2()">Substract Number</button><br>
  Enter Your Name : <input type="number" id= "input1" class="form-control" [(ngModel)]="data"/>
  </div>
  <h3>Message From Child: {{msgFromChild}}</h3>
  <h3> Message throgh Output Event emitter : {{msgFromEmitter}}</h3>
  <h3>Global variable message is : {{global_constants.greetMsg_global}}</h3>

  <app-bookomponent (dataToParentEvent)="receiveMessage($event)" ></app-bookomponent> -->
  
<nav>
  <a routerLink="employee">EmployeeForm</a>
</nav>

  

<router-outlet></router-outlet>